.usersAll {
    border: 2px solid black;
}

.usersAll, .usersDetails {
    height: auto;
    box-sizing: border-box;
    width: 48%;
    margin: 10px 1%;
    padding: 10px 0 0 10px;
}

.usersDetails {
    border: 2px solid red;
}

.a {
    display: flex;
    flex-wrap: wrap;
}

.post {
    padding-left: 20px;
    background-color: silver;
    width: 100%;
}