.oneTodo, .oneTodo label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.totoLength {
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
    height: 30px;
}

.form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.todo {
    text-decoration: line-through;
}